<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076619774992-910jfl4c2q0ofeuuj01jlc1oa1t8umc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076619774992-910jfl4c2q0ofeuuj01jlc1oa1t8umc4</string>
	<key>API_KEY</key>
	<string>AIzaSyCWyAmAdnWbuG29_VTsQdP0DoLNhLA97Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>1076619774992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userApp</string>
	<key>PROJECT_ID</key>
	<string>user-app-99765</string>
	<key>STORAGE_BUCKET</key>
	<string>user-app-99765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076619774992:ios:5a7fc7284d8e1cb6510e95</string>
</dict>
</plist>